<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141955186126-sm7vo0rf8a0917288cg5842pto0hnklj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141955186126-sm7vo0rf8a0917288cg5842pto0hnklj</string>
	<key>API_KEY</key>
	<string>AIzaSyDwgBeAL2MA19GmPRKU8ykro6ljxv33q5k</string>
	<key>GCM_SENDER_ID</key>
	<string>141955186126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ibrahim.CreateYourFlashCards</string>
	<key>PROJECT_ID</key>
	<string>yourownflashcards</string>
	<key>STORAGE_BUCKET</key>
	<string>yourownflashcards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141955186126:ios:2e9015662593c8a0133f9f</string>
</dict>
</plist>